**/.*.sw?
**/*.sw?
**/__pycache__
**/*.pyc
**/.DS_Store
*~
docs/_build
htmlcov/
.coverage
.idea*
spux.egg-info/
venv*
.venv*
.vscode
tmp
.pytest_cache/
.tox
.eggs
jpype-py3/
examples/mesocoso2Dsynt/dodiff.sh
notes.txt
**/sandbox/
**/sandboxes/
**/fig*/
**/report/*.dat
**/report/*.txt
**/report/*.tex
**/report/*.cap
**/infos-*.dat
**/samples-*.dat
**/samples-*.csv
**/timer.dat
**.ipynb_checkpoints*
*.pstats
examples/*test*
spux/report/templates/report.pdf
**/latex/*
pytest.log